# example file. please copy them to .env and fill your data in to it.
# django secret key
SECRET_KEY=''

# http or https
HTTP=http
# domain name jf your service such as www.example.com
DOMAIN_NAME=localhost

# username for smtp server, usually include email_host, for example yourname@example.com
EMAIL_HOST_USER=
# password for smtp server
EMAIL_HOST_PASSWORD=

# vkoauth2 app_id of vk application
VK_KEY=
# vkoauth2 secure key of vk application
VK_SECRET=

# db name for django and for postgres
POSTGRES_DB=
# db username for django and for postgres
POSTGRES_USER=
# db password for django and for postgres
POSTGRES_PASSWORD=
# db host for django (usually is localhost, but in this docker-compose config mast be geekshop_db)
DB_HOST=geekshop_db
# db port for django (usually is 5432, but in this docker-compose config mast be 5432)
DB_PORT=5432
