body {
  margin: 0;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

/*.basket_record {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/

.basket_record img {
  height: 10vh;
  width: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.category-stick {
  font-size: smaller;
  color: #c82333;
}
