{% extends 'products/base.html' %}
{#<!DOCTYPE html>#}
{% load static %}
{% block js_bottom %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- FontAwesome script -->
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
    <!-- ajax for basket -->
    <script src="{% static 'js/basket_ajax.js' %}"></script>
    <script src="{% static 'js/orders_scripts.js' %}"></script>
{% endblock %}