{% extends 'products/base.html' %}
{#<!DOCTYPE html>#}
{% load static %}
{% block js_bottom %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- django-dynamic-formset -->
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- FontAwesome script -->
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
    <!-- ajax for basket -->
    <script src="{% static 'js/basket_ajax.js' %}"></script>
    <script src="{% static 'js/orders_scripts.js' %}"></script>
{% endblock %}